*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav{
    text-decoration: none;
}
.navbar{
    padding: 5px;
}
.navbarList{
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    background: rgba(0,0,0,0.7);
}
.navbarItem{
    margin: 5px;
}
.navbarTitle{
    text-decoration: none;
    color: white;
    font-weight: 700;
}
